<div *ngIf="hero">
    <div>{{ hero.id }}</div>
    <h2>{{ hero.name | uppercase }} Details </h2>

    <!-- Bind the name property of the hero to the input tag. NgModel lets changes to the name and the textbox reflect each other.-->
    <form class="hero-form">
        <mat-form-field class="hero-full-width">
            <input [(ngModel)]="hero.name" matInput placeholder="Name" value={{hero.name}} name="name">
        </mat-form-field>

        <mat-form-field class="hero-full-width">
            <input [(ngModel)]="hero.attack" matInput type="number" placeholder="Attack" value={{hero.attack}} name="attack">
        </mat-form-field>

        <mat-form-field class="hero-full-width">
            <input [(ngModel)]="hero.defense" matInput type="number" placeholder="Defense" value={{hero.defense}} name="defense">
        </mat-form-field>

        <mat-form-field class="hero-full-width">
            <input [(ngModel)]="hero.specialAttack" matInput type="number" placeholder="Special Attack" value={{hero.specialAttack}} name="specialAttack">
        </mat-form-field>

        <mat-form-field class="hero-full-width">
            <input [(ngModel)]="hero.specialDefense" matInput type="number" placeholder="Special Defense" value={{hero.specialDefense}} name="specialDefense">
        </mat-form-field>

        <mat-form-field class="hero-full-width">
            <input [(ngModel)]="hero.speed" matInput type="number" placeholder="Speed" value={{hero.speed}} name="speed">
        </mat-form-field>
    </form>
    
    <button mat-raised-button color="primary" (click)="goBack()">Go back</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>

