<h2>My Heroes</h2>

<!--
<div>
  <mat-form-field hintLabel="Max 10 characters">
    <input matInput placeholder="Name" #heroName color="warn">
  </mat-form-field>
  <button mat-raised-button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
-->

<a routerLink="/dashboard">
  <button mat-fab color="accent" class="md-fab md-fab-bottom-right">
    <mat-icon aria-label="Add a hero">add</mat-icon>
  </button>
</a>

<app-hero-table></app-hero-table>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
      <button mat-icon-button mat-button color="warn" class="delete" title="delete hero" 
      (click)="delete(hero)"><i class="material-icons">delete</i></button>
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
