<h2>My Heroes</h2>

<a routerLink="/addhero">
  <button mat-fab color="accent" class="md-fab md-fab-bottom-right">
    <mat-icon aria-label="Add a hero">add</mat-icon>
  </button>
</a>

<app-hero-table></app-hero-table>

<mat-list>
  <h3>My Heroes</h3>
  <mat-list-item *ngFor="let hero of heroes">

      <!-- Put an image for each hero -->

      <button mat-icon-button mat-button color="warn" class="delete" title="delete hero" (click)="delete(hero)">
        <mat-icon aria label="Delete a hero">delete</mat-icon>
      </button>

      <a routerLink="/detail/{{hero.id}}">
        <button mat-icon-button mat-button color="primary">
          <mat-icon aria label="Edit a hero">mode_edit</mat-icon>
        </button>
      </a>

      {{hero.id}}. {{hero.name}}

      <!-- <mat-divider></mat-divider> -->

  </mat-list-item>
</mat-list>